.grid{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}


/* ============================
   MOBILE CSS TEMPLATE
   ============================ */
@media (max-width: 600px) {
    /* Mobile styles below */

    .grid{
        grid-template-columns: 1fr;
    }
}