:root{
--Neutral900: hsl(227, 75%, 14%);
--Neutral800: hsl(226, 25%, 17%);
--Neutral700: hsl(225, 23%, 24%);
 --Neutral600: hsl(226, 11%, 37%);
--Neutral300: hsl(0, 0%, 78%);
--Neutral200: hsl(217, 61%, 90%);
 --Neutral100: hsl(0, 0%, 93%);
--Neutral0: hsl(200, 60%, 99%);

 --Red400: hsl(3, 86%, 64%);
--Red500: hsl(3, 71%, 56%);
--Red700: hsl(3, 77%, 44%);

}

*{
    margin: 0;
}
.background{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Neutral100);
}

.header{
    width: 80%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: wheat;
    margin-top: 1em;
    border-radius: 0.5em;
}

.light{
background-color: var(--Neutral0);
}

.b-light{
    background-color: var(--Neutral100);
}

.b-dark{
    background-color: var(--Neutral700);
}
.dark{
background-color: var(--Neutral300);
}

.flex-left{
    margin-left: 1em;
}
.flex-left img{
    width: 7rem;
}

.button{
    width: 1.8em;
    height: 1.8em;
    background-color: var(--Neutral300);
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4em;
    margin-right: 1em;
}

.button img{
    width: 1em;

}